.recently-viewed-cell-item {
    text-align: center;
    margin: 0 $sc-margin-lv2;
    .item-relations-cell-thumbnail {
        max-height: 220px;
        overflow: hidden;
        margin-bottom: $sc-margin-lv2;
    }
}

